<div class="container">
  <div class="top-tables">
    <partial name="_Table1" />
      <partial name="_Table3" />
  </div>
  <div class="center-image">
   <partial name="_Big_Image" />
  </div>
  <div class="bottom-tables">
    <div class="left-table">
      <div class="left-table-container">
        <table class="table4">
          <!-- Your table4 content here -->df
        </table>
        <table class="table5">
          <!-- Your table5 content here -->df
        </table>
      </div>
    </div>
    <div class="right-image">
      <img src="path/to/small-image.jpg" alt="Small Image">
    </div>
  </div>
</div>
