<form method="post">
    <div class="container mt-5">
     
        <a asp-controller="Home" asp-action="GetPDF" class="btn btn-primary btn-lg float-end">Generate PDF</a>
    </div>
</form>





<div class="container">
  <div class="top-tables">
    <partial name="_Table1" />
      <partial name="_Table3" />
  </div>
  <div class="center-image">
   <partial name="_Big_Image" />
  </div>
  <div class="bottom-tables">
    <div class="left-table">
      <div class="left-table-container">
        
  <partial name="_Table4" />
        
          <partial name="_Table5" />
      </div>
    </div>
    <div class="right-image">
      <img src="~/images/small_image.PNG" alt="Small Image">
    </div>
  </div>
</div>
