<table class="table table-dark-black">
    <tr>
        <td>
            <b>Facade Type:</b> Concrete
        </td>
        <td>
          <b>Elevation</b>: South
        </td>
         <td>
           <b>Floor: 2</b>
        </td>
    </tr>
    <tr>
        <td>
             <b>Latutude 0.00000000</b>
        </td>
        <td >
           <b>Longitide 0.00000000</b>
        </td>
        <td >
            <b>Altitude 7.60m</b>
        </td>
    </tr>
</table>

<style>
    table {
    margin-top: 10px;
    border-collapse: separate; /* Combine adjacent borders into a single border */
    width: 100%;
    border-spacing: 8px;
  }
  
  /* Style the header row */
  table tr th {
    border: 1px solid black; /* Add border to header cells */
    text-align: left;
  }
  table tr td {
    border: 1px solid black; /* Add border to data cells */
    text-align: left;
  }
</style>