<table class="table table-dark-black table4">
    <tr>
        
        <td colspan="3">
           <b>Severity </b> Safe: <i class="fas fa-square" style="color: green;"></i> Required Remedial <i class="fas fa-check" style="color: black; background-color:yellow;"></i> : Unsafe: <i class="fas fa-square" style="color: red;"></i></b>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Characteristic: Performance: <i class="fas fa-check" style="color: black; background-color:lightgrey;"></i> Structural: <i class="fas fa-square" style="color: lightgrey;"></i>
        </td>
        
    </tr>
    <tr>
        
        <td colspan="3">
            <b>FI Notes: Do immediate...</b>
        </td>
    </tr>
</table>
