<table class="table table-dark-black table4" id="mytable4">
    <tr>
        <td>
            <b>Defect #1234</b>
        </td>
        <td colspan="2">
            <b>Type: Defective Paint</b>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <b>Action Required: To check close up to confirm above defect</b>
        </td>
        
    </tr>
    <tr>
        
        <td colspan="3">
            <b>Description: </b><p> Holes of rivets and lots of stains </p><p>
                were noted at 5th floor in south elevation, recommended for repair</p>
        </td>
    </tr>
</table>

 <style>
        /* Custom CSS class for dark black border */
        .table-dark-black {
          border: 2px solid #000;
        }
        .table4 tr th {
    border: 1px solid black; /* Add border to header cells */
    text-align: left;
  }
  .table4 tr td {
    border: 2px solid black; /* Add border to data cells */
    text-align: left;
  }
      </style>