<table class="table table1" id="mytable3">
    <tr>
        <td>
            <b>Facade Type:</b> Concrete
        </td>
        <td>
          <b>Elevation</b>: South
        </td>
         <td>
           <b>Floor: 2</b>
        </td>
    </tr>
    <tr>
        <td>
             <b>Latitude 0.00000000</b>
        </td>
        <td >
           <b>Longitide 0.00000000</b>
        </td>
        <td >
            <b>Altitude 7.60m</b>
        </td>
    </tr>
</table>

<script>



</Script>