<table class="table table1" id="mytable1">
    <tr>
        <td>
           <b>Serial. 1</b>
        </td>
        <td>
             Photo Num: 12  (DJI_0031_2.JPG)
        </td>
         <td>
            <b>06.06.2023</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Defects:5</b>
        </td>
        <td colspan="2">
            <b>(3) Defective Paint, (2) Efflorescence</b>
        </td>
    </tr>
</table>

<style>
    .table1 {
    border-collapse:separate; /* Combine adjacent borders into a single border */
    width: 100%;
    border-spacing: 8px;
  }
  
  /* Style the header row */
  .table1 tr th {
      border:none;
    /*border: 1px solid black; /* Add border to header cells */*/
    text-align: left;
  }
  .table1 tr td {
    border: 1px solid black; /* Add border to data cells */
    text-align: left;
  }
</style>